body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

footer {
  position: relative;
  overflow: hidden;
  color: #FFFFFF;
  margin-top: 0px;
}
footer a {
  color: #FFFFFF;
}
footer a:hover {
  color: #FE3C47;
}
.footer-nav li {
  display: inline;
  list-style-type: none;
}
.footer-nav li a {
  padding: 6px 12px;
  position: relative;
}
.footer-nav li a:after {
  content: '';
  position: absolute;
  display: inline-block;
  top: 14px;
  right: 0;
  margin: 0;
  height: 8px;
  width: 1px;
  background: #808080;
}
.footer-nav li:last-child a:after {
  content: '';
  position: absolute;
  display: inline-block;
  top: 12px;
  right: 0;
  color: #FE3C47;
  margin: 0;
  height: 8px;
  width: 0px;
  background: #FFFFFF;
}
.footerText{
  color: #FFFFFF;
}