.mainContainer  {
    margin-top: 4rem;
    margin-bottom: 4rem;
    background-color: #e9e4dd;
    border-radius: 25px;
}

h2 {
    border-bottom: 2px solid #000000;
    padding: 3px;
}

.postForm{
    border-style: solid;
    margin: 4px;

}

