#item-name {
    color: #ffffff;
    border-bottom: 8px solid #ffffff;
}
#item-name {
    padding: 3rem 0;
}
#main-image {
    height: 27rem;
    width: 34rem;
    border-radius: 15px;
    margin-bottom: 2rem;
}
#content-body {
    display: flex;
    padding-top: 2rem;
}
#text-body {
    
    margin-left: 3rem;
    padding-right: 2rem;
    
}
#item-description, #cost-day, #category, #contact {
    padding: 1rem 0;
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
}

@media only screen and (max-width: 750px) {
    #content-body {
        display: block;
    }

}

@media only screen and (max-width: 515px) {
    #main-image {
        height: 22rem;
    }

}
@media only screen and (max-width: 475px) {
    #main-image {
        height: 20rem;
    }

}
@media only screen and (max-width: 376px) {
    #main-image {
        height: 18rem;
    }

}
@media only screen and (max-width: 321px) {
    #main-image {
        height: 16rem;
        margin-left: 1rem
    }

}