
#main-jumbo {
    background-image: url("/images/guitars-amps.jpg");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    height: 15rem;
}

#headline  {
    background-color: #ffffff;opacity: 0.7;
    padding: 1rem;

}