

#headline  {
    background-color: #ffffff;opacity: 0.7;
    

}
body {
    background-image: url("/images/guitars-amps.jpg");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    min-height: 100vh;
}