#jumbop-img {
    background-image: url(/images/percus.jpg);
    background-position: center;
    /* background-size: fill; */
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: black;
    margin-top: 30px;
    height: 25rem;

}

h1 {
    color: white;
    text-shadow: 2px 2px 4px #000000;
}